<h3>Владельцы автомобилей:</h3>

<button class="btn btn-primary mb-4" (click)="setOwner()">Добавить</button>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Фамилия</th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Количество машин</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Markadsadas</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>2</td>
    <td class="row justify-content-around">
      <button class="btn-outline-danger btn-sm">Удалить</button>
      <button class="btn-outline-warning btn-sm">Изменить</button>
      <button class="btn-outline-info btn-sm">Посмотреть</button>
    </td>

  </tr>
  </tbody>
</table>
