<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable show" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Users</h5>
      </div>
      <form [formGroup]="RegGroup" (ngSubmit)="addOwner()" (change)="isValid()">
        <div class="modal-body">

          <div class="row">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="FirstName">FirstName</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="FirstName" formControlName="aFirstName">
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-m">LastName</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" formControlName="aLastName">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">MiddleName</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" formControlName="aMiddleName">
              </div>
            </div>
          </div>

          <h5>Your Cars:</h5>

          <button (click)="addCar()" >Add</button>
          <ng-container formArrayName="aCars">

            <ng-container *ngFor="let carForm of CarForm['controls'];let i = index">
              <form formGroupName="{{i}}">

                <div class="row">
                  <div class="col">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizin-sm">Name</span>
                      <input type="text" class="form-control" aria-label="Sizing example input"
                             aria-describedby="inputGroup-sizing-sm" formControlName="name">
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGoup-sizing-sm">Model</span>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" formControlName="model">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="iputGroup-sizin-sm">Year</span>
                      <input type="number" class="form-control" aria-label="Sizing example input"
                             aria-describedby="inputGroup-sizing-sm" formControlName="year">
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inpuGoup-sizing-sm">Registration Number</span>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" formControlName="regNum">
                    </div>
                  </div>
                </div>
              </form>
            </ng-container>

          </ng-container>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeMdBtn()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="submitDis">Add User</button>
        </div>
      </form>
    </div>
  </div>
</div>
